# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies.
node_modules

# Misc.
.DS_Store
tsconfig.tsbuildinfo
coverage/

# Secrets.
.env
.env.*
*.pem

# Build artefacts.
dist/
.parcel-cache/
